.education {
    text-align: center;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

.education h4 {
    color: rgb(168, 168, 168);
}
.educationInfo {
    font-size: 21px;
}

@media (max-width: 500px) {
    .education {
        margin-top: 600px;
    }
}

@media (max-width: 900px) {
    .education {
        margin-top: 300px;
    }
}
