:root {
    --graduationBG: rgb(59, 59, 59);
    --iconBG: rgb(42, 42, 42);
    --letterColor: white;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    position: relative;
}

.coursesInfo {
    font-size: 23px;
}

.courseBox {
    background-color: var(--graduationBG);
    height: 280px;
    width: 280px;

    display: inline-block;


    clip-path: polygon(0% 0, 90% 0, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0 90%, 0 10%);

    position: relative;
    transition: 0.6s;

    font-size: 19px;
    padding: 10px;

}

.courseBox::before {
    content: "";
    clip-path: inherit;
    position: absolute;
    inset: 0;
    background: rgb(0, 135, 135);
    transition: 0.6s;
}

.courseBox::after {
    content: "";
    clip-path: inherit;
    position: absolute;
    inset: 2px;
    background: var(--graduationBG);
}

.courseBox > * {
    position: relative;
    z-index: 2;
}

.courseBox p {
    margin-top: -1px;
}

.courseBox p .first{
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

.courseBox p .second{
    position: relative;
    display: block;
    color: rgb(168, 168, 168);
}

.courseBox a {
    color: aqua;
    text-decoration: solid;
}


.courseBox:hover::before {
    background: aqua;
}

.courseBox:hover {
    transform: translateY(-10px);
}

.graduationIcon {
    color: aqua;
    background-color: var(--iconBG);
    padding: 5px;
    border-radius: 7px;
    font-size: 22px;
    flex-shrink: 0;
}
