.skillsTitle {
    text-align: center;
    font-size: 45px;
}

.skillsDesc {
    text-align: center;
    color: var(--letterColorDescription);
    font-size: var(--letterFontSizeDescription);
    margin-bottom: 50px;
}

.skillsinfo {
    width: 50%;
    display: grid;
    place-self: center;
}
