.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--letterColorMain);
    transition: 600ms;
    height: 30px;
    margin-right: 20px;
}

.hamburger:hover {
    color: var(--letterColorAction);
}

.dialogWrapper {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.fixedContainer {
    position: relative;
    z-index: 1001;
    display: flex;
    height: 100%;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
}

.offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    background: #111;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.overlayEnter {
    transition: opacity 0.9s ease;
}

.overlayEnterFrom {
    opacity: 0;
}

.overlayEnterTo {
    opacity: 1;
}

.overlayLeave {
    transition: opacity 0.9s ease;
}

.overlayLeaveFrom {
    opacity: 1;
}

.overlayLeaveTo {
    opacity: 0;
}

.panelEnter {
    transition: transform 1s ease;
}

.panelEnterFrom {
    transform: translateX(100%);
}

.panelEnterTo {
    transform: translateX(0);
}

.panelLeave {
    transition: transform 1s ease;
}

.panelLeaveFrom {
    transform: translateX(0);
}

.panelLeaveTo {
    transform: translateX(100%);
}

.closeBtn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--letterColorMain);
    transition: 600ms;
}

.closeBtn:hover {
    color: white;
}

.menuLinks {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menuLinks a {
    color: var(--letterColorAction);
}

.menuLinks a:hover {
    color: white;
    transform: translateY(-5px);
}
