:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
    --angle: 245deg;
}

form {
    display: grid;
    place-self: center;
}

.formInput {
    display: grid;
    place-self: center;
    position: relative;
    margin-bottom: 30px;
}

label {
    margin-left: 10px;
    position: absolute;
    font-size: 23px;
    transition: 500ms;
    padding: 3px;
    pointer-events: none;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;

    border: 3px solid var(--letterColorMain);

    color: white;
    padding-left: 10px;
}

.content {
    color: white;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid var(--letterColorMain);
    min-width: 400px;
    max-width: 400px;
    height: 175px;
    padding-top: 20px;
    padding-left: 10px;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    background-color: #00030f;
    transform: translateY(-22px);
    margin-left: 20px;
    font-size: 19px;
    padding: 10px;
}

input:focus,
input:not(:placeholder-shown) {
    border: 2px solid var(--letterColorAction);
}

input:focus {
    outline: none;
    border: 2px solid transparent;
    background:
        linear-gradient(#00030f) padding-box,
        linear-gradient(
            var(--angle),
            rgb(189, 34, 255) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgb(123, 0, 255) 100%
        );
}

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
    background-color: #00030f;
    transform: translateY(-12px);
    margin-left: 20px;
    font-size: 19px;
    padding: 0px 10px 0px 10px;
}

textarea:focus,
textarea:not(:placeholder-shown) {
    border: 2px solid var(--letterColorAction);
}

.content:focus {
    outline: none;
    border: 2px solid transparent;
    background:
        linear-gradient(#00030f) padding-box,
        linear-gradient(
            90deg,
            rgb(189, 34, 255) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgb(123, 0, 255) 100%
        );
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.formIcon {
    color: var(--letterColorMain);
    position: absolute;
    margin-left: -40px;
    transition: 600ms;
}

#formSubmit {
    margin-top: 35px;
    background-color: var(--graduationBG);
    color: rgb(168, 168, 168);
    transition: 900ms;
    width: 420px;
    border-radius: 10px;
    border: 3px solid var(--letterColorMain);
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

#formSubmit:hover {
    color: white;
    transform: translateY(-10px);
    border: 3px solid transparent;
    background:
        linear-gradient(#00030f) padding-box,
        linear-gradient(
            var(--angle),
            rgb(189, 34, 255) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgb(123, 0, 255) 100%
        );
}

#formSubmit:hover .formIcon {
    color: var(--letterColorAction);
}

@media (max-width: 450px) {
    input {
        width: 300px;
    }
    .content {
        min-width: 300px;
        max-width: 300px;
        height: 150px;
    }

    #formSubmit {
        width: 320px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}
