img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(25%);
}

.starterText {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
    font-size: 10px;
    font-family: sans-serif;

    text-align: center;
}

.starterText span {
    color: #f3737c;
}

.mainText {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: sans-serif;

    text-align: center;
}

.mainText span {
    color: aqua;
}

.mainContentText {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: sans-serif;

    text-align: center;
}


@media (max-width: 800px) {
    .starterText {
        top: 10%;
    }

    .mainContentText {
        font-size: 25px;
    }

    .mainText {
        font-size: 23px;
        width: 95%;
    }
}


@media (max-width: 1000px) {
    .starterText {
        top: 10%;
    }

    .mainContentText {
        width: 80%;
    }

    .mainText {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .starterText {
        top: 10%;
    }

    .mainContentText {
        margin-top: 30px;
    }
}
