.download {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.DownloadFile {
    position: relative;
}

.downloadAbout {
    position: relative;
    margin-top: 50px;

    display: grid;
    place-self: center;
}

.downloadBtn, .downloadBtnAbout {
    width: 240px;
    height: 45px;
    border-radius: 10px;

    background-color: var(--graduationBG);
    border: 3px solid var(--letterColorMain);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    color: white;

    transition: 900ms;

    font-family: Arial, Helvetica, sans-serif;
}

.downloadBtnAbout {
    position: relative;
}

.icon {
    color: var(--letterColorMain);
    transition: 600ms;
}

.downloadBtn:hover, .downloadBtnAbout:hover {
    transform: translateY(-10px);

    border: 3px solid transparent;
    background:
        linear-gradient(#00030f) padding-box,
        linear-gradient(
            90deg,
            rgb(189, 34, 255) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgb(123, 0, 255) 100%
        );
}

.downloadBtn:hover .icon {
    color: var(--letterColorAction);
}
