.arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--letterColorAction);
    cursor: pointer;
    transition: 0.6s;

}

.arrowDown {
    position: absolute;
    transform: translate(-50%, -50%);
}

.arrow:hover {
    color: #ad5158;
}

@media (max-width: 500px) {
    .arrow {
        top: 82%;
    }
}
