.icons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    display: flex;
    gap: 25px;

    text-align: center;
    color: white;
}

.icons a {
    font-size: 40px;
    transition: 500ms;
    display: inline-block;
}

.icons a:hover {
    color: var(--letterColorMain);
    transform: translateY(-5px);
}

.iconsFooter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    display: flex;
    gap: 25px;

    text-align: center;
    color: white;
}

.iconsFooter a {
    font-size: 40px;
    transition: 500ms;
    display: inline-block;
}

.iconsFooter a:hover {
    transform: translateY(-5px);
}


@media (max-width: 500px) {
    .icons {
        top: 73%;
        left: 53%;
    }
}
