:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
    --graduationBG: rgb(59, 59, 59);
}

.techStack {
    background-color: #00030f;
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.techIntroduction {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.techIntroduction h1 {
    margin-bottom: 55px;
}

.techIntroduction h4 {
    width: 45%;
    display: grid;
    place-self: center;
    color: rgb(168, 168, 168);
    font-size: 25px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sectionMessage {
    width: 100%;
    text-align: center;
    margin: 40px 0 10px 0;
}

.sectionMessage h2 {
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--letterColorAction);
    font-size: 30px;
}

.tech {
    position: relative;
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    transition: 0.6s;
}

.tech::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--letterColorMain);
    clip-path: inherit;
    z-index: 0;
    transition: 0.6s;
}

.tech::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--graduationBG);
    clip-path: inherit;
    z-index: 1;
}

.tech > * {
    position: relative;
    z-index: 2;
}

.tech:hover {
    transform: translateY(-12px);
}

.tech:hover::before {
    border: 2px solid transparent;
    background:
        linear-gradient(
            90deg,
            rgb(189, 34, 255) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgb(123, 0, 255) 100%
        );
}

.techHeader {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: -50px;
    font-size: 20px;
}

.techHeader svg {
    font-size: 22px;
}

.tech p {
    margin: 10px 0;
    font-size: 21px;
    transition: 0.3s;
    color: white;
}

.tech p:hover {
    transform: scale(0.95);
}
