:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
    --graduationBG: rgb(59, 59, 59);
}

.contact {
    color: white;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

.contactTitle {
    margin-bottom: -5px;
}

.contactInfo {
    color: rgba(168, 168, 168);
    margin-bottom: 50px;
    text-align: center;
}

.iconsWrapper {
    margin-top: 320px;
}

@media (max-width: 450px) {
    .contactTitle {
        font-size: 45px;
    }
}
