:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
    --graduationBG: rgb(59, 59, 59);
}

.contact {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}


.iconsWrapper {
    margin-top: 350px;
}
