:root {
    --navbarBG: rgb(42, 42, 42);
    --letterColor: white;
}

footer {
    position: relative;
    background-color: var(--navbarBG);
    color: white;
    height: 250px;
    text-align: center;
    border-top: 3px solid rgb(0, 135, 135);
    transition: 600ms;
}

footer:hover{
    border-top: 3px solid aqua;
}

footer .icons {
    margin-top: -110px;
}

footer .navActions {
    margin-top: 140px;
}

.msg .rights {
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


@media (max-width: 500px) {
    .msg .rights {
    margin-top: 15px;
}
}
