:root {
    --graduationBG: rgb(59, 59, 59);
    --iconBG: rgb(42, 42, 42);
    --letterColorAction: rgb(183, 28, 255);
    --letterColorMain: rgb(121, 0, 233);
}

body {
    margin: 0%;
    padding: 0%;
    outline: none;
    box-sizing: border-box;
    background-color: #00030f;

    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a {
    font-weight: 500;
    text-decoration: none;
    transition: 400ms;
    font-size: 22px;
    color: rgb(176, 176, 176);
}

a:hover {
    color: #c8c8c8;
}

ul {
    list-style: none;
}

.graduationIcon {
    color: var(--letterColorAction);
    background-color: var(--iconBG);
    padding: 5px;
    border-radius: 7px;
    font-size: 22px;
    flex-shrink: 0;
}
